body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todo-item {
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "item-text item-cross-button" "item-text item-delete-button";
}

.item-text {
  /* border: solid black; */
  padding-left: 10px;
  padding-top: 5px;
  max-width: 500px;
  overflow: scroll;
  grid-area: item-text;
}

.item-delete-button {
  height: 30px;
  grid-area: item-delete-button;
  justify-content: center;
  align-content: center;
}

.item-cross-button {
  height: 30px;
  grid-area: item-cross-button;
  justify-content: center;
  align-content: center;
  margin-bottom: 3px;
}

.crossed {
  color: green;
}

.control-panel-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "add-btn add-btn" "remove-crossed-btn clear-btn";
  column-gap: 10px;
}

.add-btn {
  height: 50px;
  grid-area: add-btn;
}

.remove-crossed-btn {
  grid-area: remove-crossed-btn;
}

.clear-btn {
  grid-area: clear-btn;
}

.todo-list {
  max-height: 500px;
  overflow: scroll;
}
